!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VisitLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('logo.png')
  %body
    = render partial: 'layouts/partials/header'
    #flash_div
      = render partial: 'layouts/partials/flash'
    %main.content_wraper
      = yield
    = render partial: 'layouts/partials/footer'
